.tableTitle {
    display: flex;
    width: 669px;
    height: 48px;
    background: #ECECF9;
}
.columnNames {
    width: 135px;
    display: flex;
    align-items: center;
    /*border: 1px solid;*/
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
}

.downTriangle {
    width:0;
    height:0;
    border-top: 10px solid #3ba3d0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom:0;
}
.upTriangle {
    width:0;
    height:0;
    border-bottom: 10px solid #3ba3d0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top:0;
}
