.cardsRow {
    display: flex;
    /*justify-content: space-between;*/
    width: 950px;
    height: 48px;
    /*left: 427px;*/
    /*top: 216px;*/
    background: #ECECF9;
}
.cardsRowStyle {
    background: #FFFFFF;
}
.columnQuestion {
    width: 150px;
    display: flex;
    align-items: center;
    /*border: 1px solid;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    margin-left: 20px;
}
.columnAnswer {
    width: 150px;
    display: flex;
    align-items: center;
    border: 1px solid;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    margin-left: 300px;
}
.columnUpdate {
    width: 200px;
    display: flex;
    align-items: center;
    /*border: 1px solid;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    margin-left: 210px;

}
.columnGrade {
    width: 150px;
    display: flex;
    align-items: center;
    /*border: 1px solid;*/
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
}