.learnModal {
    /* position: relative; */
    top: 30%;
    margin: 0px auto;
    width: 25%;
    height: 33%;
    background-color: rgb(249, 249, 254);
    border-radius: 5px;
}



.modalBlock {
    /* Rectangle 389 */

    position: absolute;
    width: 413px;
    height: 300px;
    left: 434px;
    top: 210px;

    background: #F9F9FE;
    border-radius: 8px;

}

.learn {
    /* Learn “Pack Name” */
        
    /* position: absolute; */
    min-width: 236px;
    /* max-width: 350px; */
    /* height: 33px; */
    
    margin-left: 33px;
    margin-top: 40px;
    margin-right: 33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    /* identical to box height */

    /* text-align: right; */

    color: #2D2E46;
}


.question {
    /* Regular 16pt */

    margin-left: 33px;
    
    margin-top: 42px;

    /* font-family: 'SF UI Display'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* display: flex;
    align-items: center; */

    color: #2D2E46;
}

.cancelButton {
    background: #D7D8EF;
    border-radius: 30px;
    color: #21268F;
    height: 36px;
    width: 124px;
    margin-left: 33px;

    border: none;
    font-style: '';
    font-size: 17px;
    cursor: pointer;
}

.showAnswerButton {
    color: white;
    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3); border-radius: 30px;
    height: 36px;
    width: 187px;
    margin-right: 33px;
    margin-left: 36px;
    margin-top: 62px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.nextButtonAnswer {
    color: white;
    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3); border-radius: 30px;
    height: 36px;
    width: 187px;
    margin-right: 33px;
    margin-left: 36px;
    margin-top: 52px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}


.answerBlock {
    margin-left: 33px;
    margin-top: 20px
}


