

.block {
	position: relative;
	width: 1280px;
	height: 720px;
}

.form {
	position: absolute;
	width: 413px;
	height: 540px;
	left: 434px;
	top: 84px;

	background: #F9F9FE;
	border-radius: 8px;
}

.incubator {
	/* It-incubator */
	margin: 16px;
	font-weight: 600;
	font-size: 32px;
	/* identical to box height */
	text-align: center;
	color: #2D2E46;
}


.ForgotYourPassword {
	/* Sign Up */
	margin: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 33px;
	/* identical to box height */

	text-align: center;
	color: #2D2E46;
}

.form label {
	font-family: 'SF UI Display';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	/* identical to box height, or 154% */
	color: #24254A;
}

p {
	position: relative;
	margin-left: 33px;
}

.form input {
	/*width: 339px; */
	width: 339px;
	border: none;
	border-bottom: 1px solid #24254A;
	background-color: transparent;
	color: inherit;
	outline: none;
	opacity: 0.8;
	z-index: 2;
	position: relative;
}

.form span {
	cursor: pointer;
	right: 11%;
	position: absolute;
}

.text {
	margin-top: 38px;
	width: 100%;
    font-weight: 400;
    /* font-size: 16px; */
    font-style: normal;
    color: rgb(36, 37, 74);
    opacity: 0.5;
	width: 339px;
}

.Button {
	color: white;
	background: #21268F;
	box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	border-radius: 30px;
	height: 36px;
	width: 266px;
	margin: 79px 74px 0 73px ;
	/* margin-right: 74px; */
	/* margin-left: 73px; */
	/* margin-top: 82px; */
	border: none;
	font-size: 17px;
	cursor: pointer;
}


.error {
	color: red;
	font-size: 13px;
	margin: -11px 1px 1px 33px;
	position: absolute;
}



.logginLink {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}