.box {
    position: relative;
    width: 1280px;
    height: 720px;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
}

.inputField {
    position: absolute;
    width: 413px;
    height: 600px;
    left: 434px;
    top: 60px;

    background: rgba(249, 249, 254, 1);
    border-radius: 8px;
}

.itIncubator {
    margin: 16px;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #2D2E46;
}

.signIn {
    margin: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;

    text-align: center;
    color: #2D2E46;
}

.loginButton {
    color: white;
    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    height: 36px;
    width: 266px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 70px;
    transition: ease 250ms;
    outline: 0;
}
.loginButton:hover {
    background: green;
}